//====================================================================================================
.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	transition: background 0.3s;
	@media (max-width: $md3+px) {
		box-shadow: 0 0 11px 2px rgba(66, 60, 45, 0.16);
		position: fixed;
		background: #fff;
	}
	&._scroll {
		box-shadow: 0 0 11px 2px rgba(66, 60, 45, 0.16) !important;
		position: fixed;
		background: #fff !important;
		color: #151313 !important;
		.header__logo > .logo__text {
			color: #a01f1f;
		}
		.header > .phone__callback-link {
			color: #151313 !important;
			border-bottom: 1px dotted #000;
		}
		// .header__row {
		// 	align-items: flex-start;
		// }
		// .header__logo {
		// 	margin-top: 5px;
		// }
		// .header__phone {
		// 	margin-top: 5px;
		// }
	}
	// .header__content
	&__content {
		padding: 11px 0;
		@media (max-width: $md3+px) {
			padding: 15px 10px;
		}
	}
	// .header__row
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	// .header__logo
	&__logo {
		@media (max-width: $md2+px) {
			order: 1;
		}
		@media (max-width: $md3+px) {
			position: relative;
			z-index: 2;
			margin: 0px 0px 29px 0px;
		}
	}
	// .header__menu
	&__menu {
		@media (max-width: $md2+px) {
			order: 3;
		}
		@media (max-width: $md3+px) {
			color: #000;
		}
	}
	// .header__phone
	&__phone {
		@media (max-width: $md2+px) {
			order: 2;
		}
		@media (max-width: $md4+px) {
		}
	}
}

.logo {
	display: flex;
	align-items: center;
	max-width: 160px;
	width: 100%;
	img {
		max-width: 100%;
		width: 180px;
	}
}
.menu {
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
		@media (max-width: $md2+px) {
			position: absolute;
			width: 100%;
			top: 0;
			left: 102%;
			background: #fff;
			padding: 20px 50px;
			transition: all 0.4s;
			box-shadow: 0 0 11px 2px rgba(66, 60, 45, 0.16);
			@media (max-width: $md3+px) {
				padding: 20px 10px;
			}
			&._active {
				left: 0;
			}
		}
	}
	// .menu__list
	&__list {
		display: flex;
		@media (max-width: $md2+px) {
			display: block;
		}
		li {
			@media (max-width: $md2+px) {
			}
		}
		> li {
			position: relative;
			@media (max-width: $md2+px) {
				margin: 0px 0px 13px 0px;
				&:last-child {
					margin: 0;
				}
			}
		}
	}
	// .menu__link-wrapper
	&__link-wrapper {
		position: relative;
		@media (max-width: $md2+px) {
			display: inline-block;
		}
	}
	// .menu__link
	&__link {
		font-size: 16px;
		color: inherit;
		font-weight: 600;
		display: inline-block;
		padding: 20px 20px 18px 20px;
		border-radius: 20px 20px 0 0;
		transition: all 0.2s;
		@media (max-width: $md1+px) {
			font-size: 14px;
		}
		@media (max-width: $md2+px) {
			font-size: 18px;
			display: inline-block;
			padding: 0;
			position: relative;
		}
		@media (max-width: $md3+px) {
			font-size: 16px;
		}
	}
	// .menu__sub-list
	&__sub-list {
		position: absolute;
		top: 100%;
		left: 0;
		display: inline-block;
		padding: 20px;
		box-shadow: 0 0 11px 2px rgba(66, 60, 45, 0.16);
		border-radius: 0 20px 20px;
		background-color: #ffffff;
		opacity: 0;
		min-width: 180px;
		visibility: hidden;
		pointer-events: none;
		transition: all 0.2s;
		@media (max-width: $md2+px) {
			top: unset;
			left: unset;
			position: relative;
			// padding: 10px 10px 10px 20px;
			margin: 10px 0;
			padding: 0 0 0 20px;
			display: none;
			opacity: 1;
			pointer-events: all;
			visibility: visible;
			border: unset;
			box-shadow: unset;
		}
		li {
			margin: 0px 0px 8px 0px;
			&:last-child {
				margin: 0px 0px 0px 0px;
			}
		}
	}
	// .menu__sub-link
	&__sub-link {
		font-size: 16px;
		font-weight: 600;
		color: #151313;
		line-height: 22px;
		white-space: nowrap;
		@media (max-width: $md2+px) {
			font-size: 14px;
			font-weight: 400;
			line-height: 18px;
		}
		&:hover {
			text-decoration: underline;
		}
	}
}

// .icon-menu {
// 	display: none;
// }
.phone {
	// .phone__icon
	display: flex;
	align-items: center;
	&__icon {
		width: 34px;
		height: 34px;
		margin: 0px 9px 0px 0px;
		@media (max-width: $md2+px) {
			display: none;
		}
	}
	// .phone__content
	&__content {
	}
	// .phone__number
	&__number {
		display: block;
		color: #fcb724;
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 0.32px;
		transition: all 0.2s;
		@media (max-width: $md2+px) {
			display: inline-block;
			margin: 0px 25px 0px 0px;
		}
		@media (max-width: $md4+px) {
			margin: 0px 10px 0px 0px;
			font-size: 14px;
		}
		&:hover {
			color: #bc2422;
		}
	}
	// .phone__callback-link
	&__callback-link {
		font-size: 16px;
		line-height: 22px;
		font-weight: 600;
		color: inherit;
		border-bottom: 1px dotted #000;
		@media (max-width: $md2+px) {
			display: inline-block;
		}
		@media (max-width: $md3+px) {
			font-size: 14px;
			line-height: 16px;
		}
		@media (max-width: $md4+px) {
			font-size: 12px;
		}
		&:hover {
			border-bottom: unset;
		}
	}
}

.icon-menu {
	display: none;
	@media (max-width: $md2+px) {
		display: block;
		position: relative;
		// top: 18px;
		// right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		margin: 0px 0px 0px 10px;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: rgba(253, 201, 80, 0.94);
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
//====================================================================================================
._dark-header {
	.header {
		box-shadow: 0 0 11px 2px rgba(66, 60, 45, 0.5);
		background-color: #0e8191;
		color: #fff;
	}
	.header__logo > .logo__text {
		color: #fff;
	}
	.header > .phone__callback-link {
		color: #fff;
		border-bottom: 1px dotted #fff;
	}
	.header__logo {
		@media (max-width: $md3+px) {
			margin: 0px 0px 30px 0px;
		}
	}
}
//===========================================================================================
html._pc .menu__list > li:hover .menu__sub-list {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}
html._pc .menu__list > li:hover .menu__link {
	background-color: #fdc440;
}
html._touch .menu__arrow {
	content: "";
	position: absolute;
	right: -25px;
	top: 1px;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 10px solid black;
	border-bottom: 5px solid transparent;
	transform: rotate(90deg);
	@media (max-width: $md3+px) {
		top: 3px;
	}
}
html._touch .menu__list > li._active .menu__arrow {
	transform: rotate(-90deg);
}
