//<ОСНОВНОЙ БЛОК>====================================================================================================
.title {
	text-align: center;
	font-size: 45px;
	font-weight: 700;
	line-height: 43px;
	letter-spacing: 2.02px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 41px;
	@media (max-width: $md1+px) {
		font-size: 38px;
	}
	@media (max-width: $md3+px) {
		font-size: 29px;
		line-height: 37px;
		letter-spacing: 1.3px;
	}
	@media (max-width: $md4+px) {
		font-size: 24px;
		line-height: 32px;
	}
	// .title__marker
	&__marker {
		color: #fcb724;
	}
}
.center-btn {
	min-width: 350px;
	padding: 14px 30px;
	@media (max-width: $md4+px) {
		min-width: unset;
		width: 100%;
	}
}
.text,
.text_block p {
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 0.72px;
	margin: 0px 0px 10px 0px;
	&:last-child {
		margin: 0px 0px 0px 0px;
	}
	b {
		font-weight: 600;
	}
}
.icon-hover {
	width: 40px;
	height: 40px;
	.cls-1 {
		fill: #fdc84d;
		transition: all 0.2s;
	}
	.cls-2 {
		fill: #151212;
		transition: all 0.2s;
	}
	svg {
		width: 100%;
		max-width: 100%;
	}

	&:hover {
		.cls-1 {
			fill: #bb2522;
		}
		.cls-2 {
			fill: #fff;
		}
	}
	&_side {
		// width: 40px;
		// height: 40px;
		.cls-1 {
			fill: #151212;
		}
		.cls-2 {
			fill: #fff;
		}
		&:hover {
			.cls-1 {
				fill: #fdc84d;
			}
			.cls-2 {
				fill: #fff;
			}
		}
	}
}
.row {
	display: flex;
	margin: 0 -15px;
}
.col {
	flex: 0 1 50%;
	padding: 0 15px;
}
ol {
	counter-reset: myCounter;
	& > li {
		list-style: none;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.72px;
		margin: 0px 0px 10px 0px;
		padding: 0px 0px 0px 30px;
		position: relative;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
		&::before {
			counter-increment: myCounter;
			content: counter(myCounter);
			width: 20px;
			height: 20px;
			background-color: #fdc23d;
			position: absolute;
			left: 0;
			top: 0px;
			font-size: 12px;
			font-weight: 700;
			border-radius: 50%;
			line-height: 20px;
			text-align: center;
		}
	}
}
//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ГОТОВЫЕ КЛАССЫ>====================================================================================================
.row:after {
	display: block;
	content: "";
	clear: both;
}
.rub:after {
	content: "₽";
}
//====================================================================================================
%noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
//====================================================================================================
ol.counter {
	list-style-type: none;
	counter-reset: item;
	li {
		position: relative;
		padding: 0px 0px 0px 45px;
		&:before {
			counter-increment: item;
			content: counter(item);
			position: absolute;
			left: 0;
			top: 0;
			color: #818181;
			font-size: 14px;
			font-weight: 700;
			text-align: center;
			line-height: 26px;
			border-radius: 50%;
			width: 28px;
			height: 28px;
			border: 1px solid #4274bb;
		}
	}
}
//====================================================================================================
.ellipsis {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.es {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
//====================================================================================================
.table {
	display: table;
	font-size: 0;
	width: 100%;
	//table-layout: fixed;
}
.trow {
	display: table-row;
}
.cell {
	display: table-cell;
	&.full {
		width: 100%;
	}
}
//====================================================================================================
._ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
body.ie {
	._ibg {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	._ibg img {
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
	}
}
//====================================================================================================
._video {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;
	video,
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.videobg {
	video,
	iframe,
	object,
	embed {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		background-size: cover;
	}
}
//====================================================================================================
// ._more-block
._more-block {
}
// ._more-content
._more-content {
	transition: all 0.3s ease 0s;
	overflow: hidden;
}
// ._more-item
._more-item {
}
// ._more-link
._more-link {
	cursor: pointer;
	span {
		font-style: normal;
		&:first-child {
			display: block;
		}
		&:last-child {
			display: none;
		}
	}
	&._active {
		span {
			font-style: normal;
			&:first-child {
				display: none;
			}
			&:last-child {
				display: block;
			}
		}
	}
}
//====================================================================================================
%graystyle {
	transition: all 0.3s ease 0s;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}
%graystyleoff {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
}
//====================================================================================================
#map {
	background: url("../img/icons/loading.gif") center / 50px no-repeat;
}
//====================================================================================================
._swiper {
	overflow: hidden;
	//.swiper-wrapper
	.swiper-wrapper {
		width: 100%;
		height: 100%;
		box-sizing: content-box;
		display: flex;
		position: relative;
	}
	&.swiper-container-vertical {
		.swiper-wrapper {
			flex-direction: column;
		}
	}
	&.swiper-container-autoheight {
		.swiper-wrapper {
			align-items: flex-start;
		}
	}
}
.swiper-container-initialized {
	.swiper-slide {
		flex-shrink: 0;
		// transition-property: transform;
	}
}
.swiper-container-android {
	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0px, 0, 0);
	}
}
.swiper-button-lock {
	display: none !important;
}

.slider-arrow {
	width: 30px;
	height: 30px;
	box-shadow: 0 0 11px 2px rgba(66, 60, 45, 0.16);
	background-color: #ffffff;
	background: url("../img/icons/slider-arrow.png") center no-repeat;
	border-radius: 50%;
	cursor: pointer;
}
.slider-prev {
	transform: rotate(-180deg);
}
.swiper-pagination-bullet {
	display: block;
	width: 10px;
	height: 10px;
	background-color: #d1d1d1;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
	transition: all 0.2s;
	position: relative;
	&-active {
		background-color: #fdc94f;
		&::before {
			content: "";
			width: 16px;
			height: 16px;
			border: 1px solid #fdc94f;
			position: absolute;
			top: 50%;
			left: 50%;
			border-radius: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
//====================================================================================================
._tabs {
}
._tabs-item {
}
._tabs-block {
	display: none;
	&._active {
		display: block;
	}
}
//=====================================================================================================================
.mirror {
	transform: scale(-1, 1);
}
//=====================================================================================================================
.nicescroll-rails {
	z-index: 1000 !important;
}
//========================================================================================================================================================
._custom-scroll {
	position: fixed;
	right: 0;
	top: 0;
	width: 3px;
	height: 100%;
	z-index: 1000;
	//background-color: rgba(0, 0, 0, 0.1);
	&__line {
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 3px 0 0 3px;
		position: relative;
		left: 0;
		top: 0;
		width: 100%;
	}
}
//</ГОТОВЫЕ КЛАССЫ>====================================================================================================
[data-simplebar] {
	position: relative;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
}

.simplebar-wrapper {
	overflow: hidden;
	width: inherit;
	height: inherit;
	max-width: inherit;
	max-height: inherit;
}

.simplebar-mask {
	direction: inherit;
	position: absolute;
	overflow: hidden;
	padding: 0;
	margin: 0;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: auto !important;
	height: auto !important;
	z-index: 0;
}

.simplebar-offset {
	direction: inherit !important;
	box-sizing: inherit !important;
	resize: none !important;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 0;
	margin: 0;
	-webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
	direction: inherit;
	box-sizing: border-box !important;
	position: relative;
	display: block;
	height: 100%; /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
	width: auto;
	max-width: 100%; /* Not required for horizontal scroll to trigger */
	max-height: 100%; /* Needed for vertical scroll to trigger */
	scrollbar-width: none;
	-ms-overflow-style: none;
	padding: 0px 20px 0px 0px;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
	content: " ";
	display: table;
}

.simplebar-placeholder {
	max-height: 100%;
	max-width: 100%;
	width: 100%;
	pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
	box-sizing: inherit !important;
	height: 100%;
	width: 100%;
	max-width: 1px;
	position: relative;
	float: left;
	max-height: 1px;
	overflow: hidden;
	z-index: -1;
	padding: 0;
	margin: 0;
	pointer-events: none;
	flex-grow: inherit;
	flex-shrink: 0;
	flex-basis: 0;
}

.simplebar-height-auto-observer {
	box-sizing: inherit;
	display: block;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 1000%;
	width: 1000%;
	min-height: 1px;
	min-width: 1px;
	overflow: hidden;
	pointer-events: none;
	z-index: -1;
}

.simplebar-track {
	z-index: 1;
	position: absolute;
	right: 0;
	bottom: 0;
	pointer-events: none;
	overflow: hidden;
}

[data-simplebar].simplebar-dragging .simplebar-content {
	pointer-events: none;
	user-select: none;
	-webkit-user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
	pointer-events: all;
}

.simplebar-scrollbar {
	position: absolute;
	left: 0;
	right: 0;
	min-height: 10px;
}

.simplebar-scrollbar:before {
	position: absolute;
	content: "";
	background-color: #3ebfd1;
	border-radius: 7px;
	left: 0px;
	right: 0px;
	opacity: 1;
	transition: opacity 0.2s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
	/* When hovered, remove all transitions from drag handle */
	opacity: 0.5;
	transition: opacity 0s linear;
}

.simplebar-track.simplebar-vertical {
	top: 0;
	width: 4px;
	background-color: #dfdfdf;
	border-radius: 7px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
	top: 2px;
	bottom: 2px;
}

.simplebar-track.simplebar-horizontal {
	left: 0;
	height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
	height: 100%;
	left: 2px;
	right: 2px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
	right: auto;
	left: 0;
	top: 2px;
	height: 7px;
	min-height: 0;
	min-width: 10px;
	width: auto;
}

/* Rtl support */
[data-simplebar-direction="rtl"] .simplebar-track.simplebar-vertical {
	right: auto;
	left: 0;
}

.hs-dummy-scrollbar-size {
	direction: rtl;
	position: fixed;
	opacity: 0;
	visibility: hidden;
	height: 500px;
	width: 500px;
	overflow-y: hidden;
	overflow-x: scroll;
}

.simplebar-hide-scrollbar {
	position: fixed;
	left: 0;
	visibility: hidden;
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
